body {
  font-family: Arial, sans-serif;
  margin: 2rem;
  background: aqua;
}

main {
  max-width: 600px;
  margin: auto;
  background: #542addad;
  padding: 2rem;
  border-radius: 8px;
}

label {
  display: block;
  margin-top: 1rem;
  background-color: rgb(213, 157, 117);
}

input, textarea, select, button {
  width: 100%;
  padding: 0.75rem;
  margin-top: 0.25rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  margin-top: 1.5rem;
  background: #007acc;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background: #005fa3;
}

#formMessage {
  margin-top: 1rem;
  font-weight: bold;
}
.error-message {
  display: block;
  color: red;
  font-size: 0.9em;
  margin-top: 4px;
  min-height: 1.2em;
}
