body {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: rgb(0, 0, 0);
    margin: 0;
    background-color: rgb(47, 242, 239);
}

h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(27, 45, 239);
}

.h2 {
    text-align: center;
    font-size: 2rem;
    margin-top: 60px;
    margin: 60px 0 30px;
    color: #000;
}
#contenedor {
    background-color: rgba(33, 169, 62, 0.569);
    margin: 2%;
    padding: 2%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.col-mid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 40px 20px;
}

.col-mid {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: rgb(34, 43, 210);
    font-family: 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0 0 10px rgba(252, 0, 0, 0.3);
}
.col-mid ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.col-mid ul li {
  margin-bottom: 5px;
}