body {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 100%;
    color: rgb(0, 0, 0);
    margin: 0;
    background-color: rgb(47, 242, 239);
}
h1 {
    text-align: center;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(230, 118, 20);
}
.h3 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(17, 0, 255);
}
.h4 {
    color: aqua;
}
#row {
    background-color: rgb(221, 229, 63);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #f5a;
    text-align: center;
    align-items: center;
}

#contenedor {
    align-items: center;
    background-color: rgba(15, 161, 201, 0.857);
    margin: 2%;
    padding: 5%;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

#col-mid {
    /*margin-top: 60%;*/
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    align-items: center;
    width: auto;
    padding: 10px;
    border-radius: 10px;
    color: rgb(34, 43, 210);
    box-shadow: 0 0 10px rgba(252, 0, 0, 0.3);
    margin: 20px;
}